<header class="w3-container w3-top w3-{{ page.color | default: 'deep-orange' }} w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding w3-hide-small"><amp-img src="{{ site.baseurl }}{{ site.logo }}" height="32" width="32" alt="logo"></amp-img> {{ site.title }}</h4></span>
  {% if site.short_title %}<span class="w3-left w3-padding w3-hide-medium w3-hide-large"><amp-img src="{{ site.baseurl }}{{ site.logo }}" height="32" width="32" alt="logo"></amp-img> {{ site.short_title }}</span>{% endif %}
 <!-- <span><a href="#" class="w3-{{ page.color | default: 'deep-orange' }} w3-right w3-button" onclick="w3_open()"><amp-img src="{{ site.baseurl }}/svg/menu.svg" height="24px" width="24px" alt="menu"></amp-img></a></span> -->
<span><button on="tap:sidebar.toggle" class="ampstart-btn caps m2"><amp-img src="{{ site.baseurl }}/svg/menu.svg" height="24px" width="24px" alt="menu"></amp-img></button></span>
</header>
